.grid-srcset{
    max-width: 1200px;
    background-size: cover;
    background-position: center;
}

.grid-3rd-image{
    display: block;
    max-width: 1200px;
    background-size: cover;
    background-position: center;
    background-image: url('../images/maman_mob-480.jpg');
    height: 300px;
}

@media screen and (min-width: 400px){
    .grid-3rd-image {
        height: 400px;
        background-image:url('../images/maman_tab-870.jpg');
    }
}

@media screen and (min-width: 650px){
    .grid-3rd-image {
        height: 650px;
        background-image:url('../images/maman_tab-870.jpg');
    }
}

@media screen and (min-width: 900px) {
    .grid-3rd-image {
        height: 900px;
        background-image:url('../images/maman_desk-1320.jpg');
}
}